{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block menu %}
  {% render "JordoCalendarBundle:Index:menu" %}
{% endblock %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Calendrier</h1>
      <h2>Création</h2>
    </hgroup>
    <aside>
      <ul>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <form action="{{ path('calendar_event_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
  </article>
</section>
{% endblock %}