{% extends "ThiktakCoreBundle::layout.html.twig" %}

{% block body %}
<section>
  <header>
    <hgroup>
      <h1>Gantt</h1>
      <h2>Phase</h2>
    </hgroup>
    <aside>
      <ul>
        <li><a href="{{ path('gantt') }}"><i class="icon-list"></i></a></li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <form action="{{ path('gantt_phase_create', {'gantt': gantt.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
  </article>
</section>
{% endblock %}