<article class="wbox">
  <header>
    <h1>Notifications</h1>
  </header>
  <ul>
    {% for entity in entities %}
    <li>
      <span style="display: inline-block; width: 120px; text-align: right; font-size: .75em; opacity: .5; padding-ght: 10px;">
        {{ entity.dateCreated|date('Y-m-d H:i') }}
      </span>
      {{ notify(entity)|raw }}
    </li>
    {% endfor %}
  </ul>
</article>